# Python
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.env

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
staticfiles/
media/

# macOS
.DS_Store

# IDEs
.idea/
*.sublime-project
*.sublime-workspace